
body{
  background: #2D2D2D;
  width:1920px;
  color:white;

}

.content{
  margin: 0 10%;
}
.head-fuelwell{
  display: flex;
justify-content: space-between;
box-sizing: border-box;
padding-top: 10px;
border-bottom: 2px white;
}
.nav-class{
  display: flex;
  list-style-type: none;
  

}

.left-rigth-center{
  margin: 0 10%;
}
.li{
  margin-right: 30px;
  font-size: 20px;
}
.li:nth-child(6){
margin-right: 0;
}


.img-header{
  background-color:#00D5E4;
  max-width: 100px;

background: url(https://static.tildacdn.com/tild3664-6137-4434-a261-306562623239/___5.png);
}

.fl{
  filter: invert(1);
}
.nav-menu{


}
.blue-text-hr-center{
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;

}
.text1{

  display: flex;
  margin-bottom: 40px;

}
.p-blue-text-margin0{
margin: 0;
}
.first-text1{
  margin-right: 80px;
  font-size: 30px;
}
.second-text1{
  right: 0;
bottom: 0;
margin-top: 130px;;

  font-size: 16px;


}
.blue-p{
  color: white;
}
.blue-p:hover{
  color:aqua;
}

.img-main1{
margin-top: 2%;
position: absolute;
left: 50%;
transform: translate(-50%, -50%)
}
.img-main2{
  /* img */
  margin:auto;


}

.section2-text{
  text-align: center;
  font-size: 35px;
display: flex;
align-items: center;
justify-content: center }


.blue-line{
  border: 1px solid #00D5E4;
  width:400px;


}
.BRING-YOUR{
text-transform: uppercase;
font-size: 35px;
}
.At-least{
font-size: 24px;
}
.circle1-circle2{
display: flex;
}
.circle3-circle4{
display: flex;
}
.p-image-display{
padding: 20px;
font-size: 20px;
}
.global-display-4circle-and-img{
display: flex;

}
.first-second{
display: flex;
}
.Find-out{
text-transform: uppercase;
font-size:30px;
text-align: center;
vertical-align: middle;
padding-top: 20px;
}
.shadow-block{
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
height: 400px;
margin-bottom:100px;
}
.display-input{
display:flex;
justify-content: center;
margin-bottom: 50px;

}
.display-input-text{
margin-left: 10px;
font-size: 20px;
}
.display-input-text:hover{
  color: #00D5E4;
  }
.input-text{
height: 50px;

}
.display-input-text-blue{
margin-left: 10px;
font-size: 20px;
color:#00D5E4;
}
.input-text-blue{
height: 50px;
color: #00D5E4;
border: 5px solid #08D1FF;
}
.blue-line2{
border: 1px solid #00D5E4;
width:150px;


}
.absolut-text-image{
position: absolute;
width: 100%;
left:0;
margin-top: 20px;
margin-bottom: 20px;
}
.text1-image{
text-transform: uppercase;
font-size: 24px;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
width:30%;
height: 250px;
margin: 20px;

}
.margin-class-absolut-bottom{
margin-top: 450px;
display: flex;

}
.additional{
vertical-align:middle;

margin-top: 80px;
}
.text1-image-not-shadow{
text-transform: uppercase;
font-size: 24px;
width:30%;
padding: 20px;
margin: 20px;
height: 250px;
}
.class-absolut-bottom{
display: flex;
}
.text1-image{
padding: 20px;
}
.p-lower{
text-transform: lowercase;
}
.bottom-margin{
margin-bottom: 150px;
}
.black-backround{
position: absolute;
background-color: #0C0A0A;

width: 1520px;
left:0;
padding: 50px 200px 50px 200px;
display: flex;
}
.upper-h3{
text-transform: uppercase;
font-size: 40px;
}
.text-black-fon{
margin-left: auto;
margin-top:150px;
}
.margin-bot-p{
margin-bottom: 50px;
}
.exit-abroad{
margin-top: 1150px;
position: relative;
font-size: 40px;
display: flex;
justify-content: space-between;
}
.img-strelki{
display: grid;
align-items:center;


}
.blue-p-upper{
color:aqua;
text-transform: uppercase;
}
.car-image-3{
display: flex;
width: 100%;
}

.car-image-3-1{
width:33.3%;
}
.car-image-3-2{
width:33.3%;
}
.car-image-3-3{
width:33.3%;
}
.last-img{
display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blue-p-upper2{
color:aqua;
text-transform: uppercase;
font-size: 40px;
}
.black-fon{
position:absolute;
background-color: #0C0A0A;
height: 220px;
width: 1520px;
left: 0;
padding: 50px 200px 50px 200px;

}
.text-footer{
margin-top:20px;
}
.bloks-3-footer{
display:flex;
justify-content: space-between;
border-bottom: 2px #636161 solid;
padding-bottom: 10px;
}
.social-footer{
margin: auto;
}
.footer-fuelwell{
font-size: 13px;
max-width: 200px;
}

.last-end-footer{
display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}



input:hover {
  color: #00D5E4;
  border: 10px solid #08D1FF;
}
.img-padding{
  padding: 5px;
}








/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
 ========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
line-height: 1.15; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 ========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/

main {
display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
font-size: 2em;
margin: 0.67em 0;
}

/* Grouping content
 ========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
box-sizing: content-box; /* 1 */
height: 0; /* 1 */
overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}

/* Text-level semantics
 ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
border-bottom: none; /* 1 */
text-decoration: underline; /* 2 */
text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

small {
font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -0.25em;
}

sup {
top: -0.5em;
}

/* Embedded content
 ========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
border-style: none;
}

/* Forms
 ========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 1 */
line-height: 1.15; /* 1 */
margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
box-sizing: border-box; /* 1 */
color: inherit; /* 2 */
display: table; /* 1 */
max-width: 100%; /* 1 */
padding: 0; /* 3 */
white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}

/* Interactive
 ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
display: list-item;
}

/* Misc
 ========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
display: none;
}


